 <div class="subscription-container">
  <div class="header-edit">
    <h1>Edition du salon</h1>
  </div>
  <div class="container">
    <%= simple_form_for [:my, @chat_room] do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <h2> <%= f.input :title, label: "Titre" %> </h2>
        <h4> <%= f.input :description, label: "Modifiez la description",
                          placeholder: "Quelles sont les règles a suivre dans votre chat room ? Quels en sont les critères d'entrée ?"  %> </h4>
        <br>
        <%= f.input :photo, as: :file,
                     label: "Modifier l'image" %>
        <%= f.input :photo_cache, as: :hidden %>
       <%= simple_form_for :search, url: search_path, method: :get do |f| %>
          <%#= f.input :tags, collection: Tag.all, input_html: { multiple: true, class: "select2" }, include_hidden: false %>

    <div class="tag-container">
      <p>Mes tags</p>
          <% @chat_room.tags.each do |tag| %>
              <li class="room-tag"><%= tag.name %></li>
            <% end %>

      </div>
    </div>

      <div class="d-flex justify-content-center">
           <%= f.button :submit, "Sauvegarder", class: 'seven-button' %>
        <% end %>
        <%= link_to "Retour", :back, class: "seven-button"%>
      </div>
    <% end %>
  </div>
</div>
