<div class="banner">
  <div class="banner-header d-flex">
    <div class="header">
      <h1>Voici la liste de vos salons</h1>
      <p>Modifier, supprimer, ou, créer... C'est ici que ça se passe !</p>
    </div>
    <div class="buttons-index">
      <%= link_to "Créer un salon", new_my_chat_room_path, class: "seven-button" %>
      <%= link_to "Rechercher un salon", search_path, class: "seven-button" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mt-2 left-column">
      <h3>Salons</h3>
      <% if @chat_rooms == []  %>
        <h4>Vous n'avez pas crée de salon... qu'attendez vous ? <i class="far fa-laugh-wink"></i> </h4>
      <% else %>
        <% @chat_rooms.each do |chat_room| %>
          <div class="card-my-chat-rooms d-flex">
            <img src="<%= chat_room.photo %>" alt="">
            <div class="card-my-chat-rooms-infos">
              <h5><%= chat_room.title %></h5>
              <p><%= chat_room.description.first(5) %></p>
            </div>
            <div class="links-seven">
              <%= link_to "Rejoindre le salon", my_chat_room_path(chat_room), class: "fas fa-sign-in-alt link-seven"  %>
              <%= link_to "Editer le salon" , edit_my_chat_room_path(chat_room), class: "fas fa-edit link-seven" %>
              <%= link_to " Supprimer", my_chat_room_path(chat_room), method: :delete, class: "fa fa-trash link-seven"  %>
              <%= link_to " Demandes", chat_room_subscriptions_path(chat_room), class: "far fa-envelope link-seven"  %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-12 col-lg-6 mt-2 right-column">
      <h3>Abonnements</h3>
      <% if @subscriptions == []  %>
        <h4>Vous n'avez pas rejoint de chat room... lancez vous ! <i class="fas fa-rocket"></i> </h4>
      <% else %>
        <ul>
          <% @subscriptions.where(status: 'Accepted').each do |subscription| %>
            <li>
              <div class="card">
                <%= subscription.chat_room.title %>
                <%= link_to "Rejoindre le salon", my_chat_room_path(subscription.chat_room)  %>
                <%= link_to "Quitter le salon" , my_subscription_path(subscription), method: :delete, class: "fas fa-door-open"%>
              </div>
            </li>
          <% end %>
        </ul>
        <% pluriel = @subscriptions.where(status: 'pending').size > 1 ? "s" : ""  %>
        <p>Vous avez <strong><%= @subscriptions.where(status: 'pending').size %></strong> abonnement<%= pluriel %> en attente. <%= link_to "Les voirs", my_subscriptions_path  %></p>
      <% end %>
    </div>
  </div>
</div>

