<div class="header-edit">
  <h1>Créer une chat room</h1>
</div>

<div class="container">
  <%= simple_form_for [:my, @chat_room] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title, label: "Titre" %>
      <%= f.input :description, label: "Ajoutez une description", placeholder: "Quelles sont les règles a suivre dans votre chat room ? Quels en sont les critères d'entrée ?"  %>
      <%= f.input :photo, as: :file, label: "Ajoutez une image" %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>


    <%= f.simple_fields_for :chat_room_tags, ChatRoomTag.new do |chat_room_tag| %>
      <%= chat_room_tag.input :tag_id, collection: Tag.all, input_html: { class: "select2" } %>

    <% end %>

    <%= f.simple_fields_for :chat_room_tags, ChatRoomTag.new do |chat_room_tag| %>
      <%= chat_room_tag.input :tag_id, collection: Tag.all, input_html: { class: "select2" } %>

    <% end %>

    <%= f.simple_fields_for :chat_room_tags, ChatRoomTag.new do |chat_room_tag| %>
      <%= chat_room_tag.input :tag_id, collection: Tag.all, input_html: { class: "select2" } %>

    <% end %>

    <%= f.simple_fields_for :chat_room_tags, ChatRoomTag.new do |chat_room_tag| %>
      <%= chat_room_tag.input :tag_id, collection: Tag.all, input_html: { class: "select2" } %>

    <% end %>
<!--   <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <%#= simple_form_for :search, url: search_path, method: :get do |f| %>
        <%#= f.input :tags, collection: Tag.all, input_html: { multiple: true, class: "select2" }, include_hidden: false %>
      </div>
    </div>
  </div> -->

  <div class="d-flex justify-content-center">
    <div class="form-actions">
      <%= f.button :submit, "Sauvegarder", class: 'seven-button' %>
  <% end %>

  <%= link_to "Retour", :back, class: "seven-button" %>
  </div>
</div>


<!-- Comment faire pour faire autant de check boxes que de tags ?
Comment lier aux tags ?
Problème de création de chat_room_tags à la création d'une chat_room (formulaire new de my chat_room à adapter selon cocoon) -->
