<h1>Créer une chat room</h1>

<%= simple_form_for [:my, @chat_room] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: "Titre" %>
    <%= f.input :description, label: "ajoutez une description", placeholder: "Quelles sont les règles a suivre dans votre chat room ? Quels en sont les critères d'entrée ?"  %>
  </div>

  <%#= f.association :tags, as: :check_boxes %>

  <div id="chat_room_tags">
    <%= f.simple_fields_for :chat_room_tags, ChatRoomTag.new do |chat_room_tag| %>
    <%= render 'chat_room_tag_fields', f: chat_room_tag %>
      <div class="links">
        <%= link_to_add_association 'Add Tag', f, :chat_room_tags %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Créer" %>
  </div>
<% end %>

<%= link_to "Retour", :back %>

<!-- Comment faire pour faire autant de check boxes que de tags ?
Comment lier aux tags ?
Problème de création de chat_room_tags à la création d'une chat_room (formulaire new de my chat_room à adapter selon cocoon) -->
