<div class="container-fluid m-0">
  <div class="row d-flex justify-content-xl-between position-relative">

    <div class="col-12 col-xl-4">
      <!-- <div class="informations">
        <%#= image_tag current_user.avatar, class: "avatar-large" %>
        <div class="informations-button">
          <%#= link_to "Tableau de bord", my_chat_rooms_path, class: "seven-button" %>
        </div>
      </div> -->

      <div class="my-chat-rooms-index">
        <h3>Salon actif</h3>
      </div>

      <div class="card-my-chat-rooms activable" style="background: $light-green;">
        <div class="image-slot">
          <div class="image-slot">
            <%= cl_image_tag @chat_room.photo, class: "card-my-chat-rooms-image" %>
          </div>
        </div>
        <div class="card-my-chat-rooms-infos">
          <h5><%= @chat_room.title %></h5>
          <p><%= @chat_room.description.first(10) %></p>
        </div>
        <div class="links-seven-show">
          <%= link_to "Rejoindre le salon", my_chat_room_path(@chat_room), class: "fas fa-sign-in-alt link-seven active"  %>
          <%= link_to " Demandes", chat_room_subscriptions_path(@chat_room), class: "far fa-envelope link-seven"  %>
        </div>
      </div>


      <div>
        <div class="my-chat-rooms-index">
          <h3>Salons</h3>
        </div>
        <% @chat_rooms.each do |chat_room| %>
          <% if chat_room != @chat_room %>

            <div class="card-my-chat-rooms activable">
              <div class="image-slot">
                <div class="image-slot">
                  <%= cl_image_tag chat_room.photo, class: "card-my-chat-rooms-image" %>
                </div>
              </div>
              <div class="card-my-chat-rooms-infos">
                <h5><%= chat_room.title %></h5>
                <p><%= chat_room.description.first(10) %></p>
              </div>
              <div class="links-seven-show">
                <%= link_to "Rejoindre le salon", my_chat_room_path(chat_room), class: "fas fa-sign-in-alt link-seven active"  %>
                <%= link_to " Demandes", chat_room_subscriptions_path(chat_room), class: "far fa-envelope link-seven"  %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% @my_subscriptions.each do |my_subscription| %>
          <div class="card-my-chat-rooms activable">
            <div class="image-slot">
              <%= cl_image_tag my_subscription.chat_room.photo, class: "card-my-chat-rooms-image" %>
            </div>
            <div class="card-my-chat-rooms-infos">
              <h5><%= my_subscription.chat_room.title %></h5>
              <p><%= my_subscription.chat_room.description.first(10) %></p>
            </div>
            <div class="links-seven-show">
              <%= link_to "Rejoindre le salon", my_chat_room_path(my_subscription.chat_room), class: "fas fa-sign-in-alt link-seven active"  %>
              <%= link_to "Quitter le salon" , my_subscription_path(my_subscription), method: :delete, class: "fas fa-door-open link-seven"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-xl-6">
      <div class="card-title-chat-room p-2">
        <div>
          <h3><%= @chat_room.title  %></h3>
          <p><%= @chat_room.description %></p>
        </div>
        <div class="chat-room-tags">
          <ul class='room-tags' >
            <% @chat_room.tags.each do |tag| %>
              <li class="room-tag"><%= tag.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="chat-room">
         <div id="messages">
          <% @chat_room.messages.order(created_at: :asc).each do |message| %>
            <%= render "my/messages/message", message: message %>
          <% end %>
        </div>
        <div id="new_message">
          <%= render 'my/messages/form', chat_room: @chat_room, message: Message.new %>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-2">
      <div class="card-chat-room-users">
        <h5>Liste des utilisateurs</h5>
          <p>Maître du salon: </p>
          <div class="d-flex">
            <div>
              <%= image_tag @chat_master.avatar, class: "avatar" %>
            </div>
            <div>
              <p>- <%= @chat_master.username %></p>
            </div>
          </div>
          <p>Utilisateurs:</p>
          <div>
            <% @users.each do |user| %>
            <div class="d-flex">
              <div>
                <%= image_tag user.avatar, class: "avatar" %>
              </div>
              <div>
                <p>- <%= user.username %></p>
              </div>
            </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
    <script>
    function scrollLastMessageIntoView() {
      const messages = document.querySelectorAll('.message');
      const lastMessage = messages[messages.length - 1];
      console.log(messages);
      if (lastMessage !== undefined) {
        lastMessage.scrollIntoView();
      }
    };
    scrollLastMessageIntoView();
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
      {
        received: (data) => {
          console.log(data);
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('#messages');
            console.log(messagesContainer);
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )
  </script>
<% end %>
