<h1>Index my subs</h1>




<div class="container body-subscription">
  <div class="container subscription-container">
    <div class="header-edit">
      <% @subscriptions.each do |subscription| %>
      <div class=''></div>
      <img src=" <%= subscription.user.avatar %>" alt="">
        <%= subscription.chat_room.title %>
        <%= subscription.status %>
        <%= subscription.user.username %>
        <%= link_to "Voir la demande", my_subscription_path(subscription), class:"btn seven-button float-right"  %>
      <% end %>
    </div>
  </div>
</div>

