<div class='searchpage '>
  <div class="container home-text text-center">
    <br>
    <br>
      <div class="searchbox">
        <div class="col-12 col-md-8" style='padding-left: 0px'>
          <%= simple_form_for :search, url: search_path, method: :get do |f| %>
            <%= f.input :tag_ids, label: false, collection: Tag.all, input_html: {:style=> 'width:500px;', multiple: true, class: "select2", data: { placeholder: 'Recherchez vos salons par thèmes' }}, include_hidden: false %>
            <form class="form-inline my-2 my-lg-0 justify-content-center">
            <%= f.button :submit, "Chercher un salon", class: 'seven-button' %>
            </form>
          <% end %>
        </div>
      </div>
  </div>

  <div class="chatroom mt-5 align-item">
    <% @chat_rooms.each do |chat_room| %>
      <div class="card-chatroom" >
        <div class="card-chatroom-infos ">
          <h2><%= chat_room.title %></h2>
          <p><%= chat_room.description %> </p>
          <ul class='room-tags' >
            <% chat_room.tags.each do |tag| %>
              <li class="room-tag"><%= tag.name %></li>
            <% end %>
          </ul>
          <%= link_to "Rejoindre ce salon", new_chat_room_my_subscription_path(chat_room), class: "button seven-button float-right mt-2 mr-3" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


