<div class="banner">
  <div class="banner-header d-flex">
    <div class="header">
      <h1>Vos demandes d'abonnement</h1>
      <p>Découvrez toutes les demandes pour rejoindre votre chatroom</p>
    </div>
    <div class="buttons-index">
      <%= link_to "Retour à votre tableau", my_chat_rooms_path, class: "seven-button" %>

    </div>
  </div>
</div>


<% @subscriptions.each do |subscription| %>
  <div class="subscription-container my-4">
      <div class="card-body">
        <h5 class="card-title"><b><%= subscription.user.username %></b> vous a envoyé une demande d'accès</h5>
        <p class="card-text">
          <i class="fas fa-quote-left" style="font-size: 25px; color: grey;"></i>
          <i><%= subscription.description %></i>
          <i class="fas fa-quote-right" style="font-size: 25px; color: grey;"></i>
        </p>
      </div>
      <div>
        <%= link_to "Accepter" , subscription_path(subscription, subscription: {status: 'Accepted'}), method: :patch, class: "seven-button" %>
        <%= link_to "Refuser" , subscription_path(subscription, subscription: {status: 'Refused'}), method: :patch, class: "seven-button" %>
      </div>
  </div>
<% end %>

<div class='text-center mt-5'>
  <% if @subscriptions.size == 0 %>
      <h3 class='mb-3'> Oups... ^^'</h1>
      <p>On dirait que vous n'avez pas encore de demande pour rejoindre votre chatroom.</p>
  <% end %>
</div>

